{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
    <h1>Products</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">product</h5>
                        <p class="card-text">{{ product }} description.</p>
                        <a href="#" class="btn btn-primary">Click</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}

